<?xml version="1.0"?>

<launch>

	<!--<include file="/home/farid/WS_Farid/orb_slam2_TUT/Examples/ROS/ORB_SLAM2/launch/pc2laserScan.launch"/>-->
	<!--<include file="/home/farid/WS_Farid/orb_slam2_TUT/Examples/ROS/ORB_SLAM2/launch/run_gmapping.launch"/>-->
	
	<include file="/home/farid/WS_Farid/orb_slam2_TUT/Examples/ROS/ORB_SLAM2/launch/run_octomap.launch"/>


	<node name="rviz" pkg="rviz" type="rviz" args="-d /home/farid/WS_Farid/orb_slam2_TUT/Examples/ROS/ORB_SLAM2/rviz/2d_grid.rviz"/>

	<!-- Logitech webcam -->
	<node name="cameraPub" pkg="ORB_SLAM2" type="cameraPub" args="webcam"/>

	<node 	name="RT_Mono" pkg="ORB_SLAM2" type="RT_Mono" 
		args= "/home/farid/WS_Farid/orb_slam2_TUT/Vocabulary/ORBvoc.txt 
			/home/farid/WS_Farid/orb_slam2_TUT/settingFiles/my_logitech.yaml 
			webcam" />
	
	<!-- Android phone -->
	<!--<node name="cameraPub" pkg="ORB_SLAM2" type="cameraPub" args="phone"/>
	<node name="Mono" pkg="ORB_SLAM2" type="Mono" args= "/home/farid/WS_Farid/orb_slam2_TUT/Vocabulary/ORBvoc.txt /home/farid/WS_Farid/orb_slam2_TUT/settingFiles/my_huawei.yaml phone" />-->

</launch>

